In [9]:
import pandas as pd

In [13]:
top5 = authors_price \
    .sort_values(by="price", ascending=False) \
    .head(5) \
    .reset_index(drop=True)
top5

   author_id author_name         book_title  price
0          2       Чехов   Толстый и тонкий    500
1          1    Тургенев        Отцы и дети    450
2          2       Чехов    Дама с собачкой    450
3          3  Островский              Гроза    370
4          1    Тургенев  Дворянское гнездо    350